{% extends 'layout.html' %} {% block body %}
<div class="container">

    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card horizontal red darken-3 hoverable center-align">
                <div class="card-image valign-wrapper">
                    <img src={{logo}} class="responsive-img" style="padding: 1.5em"/>
                </div>
                <div class="card-stacked">
                    <div class="card-content white-text center-align">
                        <span class="card-title"><h3>{{companyName}}</h3></span>
                        <code><h4>{{symbol}}</h4></code>
                        <h3>{{latestPrice}} USD</h3>
                        {% if change.startswith('-') %}
                        <h4 style="color: red"><i class="material-icons">arrow_downward</i>{{change}}</h4>
                        {% else %}
                        <h4 style="color: green"><i class="material-icons">arrow_upward</i>{{change}}</h4>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card red darken-3">
                <div class="card-content white-text">
                    <span class="card-title center-align">Summary</span>
                    <table class="centered">
                        <tbody>
                        <tr>
                            <td>Volume</td>
                            <td>{{volume}}</td>
                        </tr>
                        <tr>
                            <td>Latest EPS</td>
                            <td>{{latestEPS}}</td>
                        </tr>
                        <tr>
                            <td>5 Day Change</td>
                            <td>{{day5Change}}</td>
                        </tr>
                        <tr>
                            <td>3 Month Change</td>
                            <td>{{month3Change}}</td>
                        </tr>
                        <tr>
                            <td>1 Year Change</td>
                            <td>{{year1Change}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l6" style="padding: 2%">
            {{chart_div|safe }}
            {{chart_script|safe }}
        </div>

        </div>

    <div class="row">
        <div class="col s12 m12 l12 center">

        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card red darken-4">
                <div class="card-content white-text">
                    <span class="card-title center-align">About the company</span>
                    <h4>CEO: {{CEO}}</h4>
                    <p class="flow-text">{{description}}</p>
                    <h5>Visit: <a href={{website}}>{{website}}</a></h5>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l6">
            <div class="card red darken-4">
                <div class="card-content white-text">
                    <span class="card-title center-align">News</span>
                    {% for article in news %}
                    <a href={{article.url}} target="_blank" style="color: inherit"><h6 class="flow-text">
                        {{article.headline}}</h6></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='matchheight.js')}}"></script>
<script src="{{ url_for('static', filename='script.js')}}"></script>
{% endblock %}

